@mixin big-shoulders($size: null) {
  font-family: var(--font-big-shoulders);
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-white);

  @if $size {
    font-size: $size;
  }
}

@mixin inter($size: null) {
  font-family: var(--font-inter);
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--color-white);

  @if $size {
    font-size: $size;
  }
}
