@mixin anton-display {
  font-family: var(--font-title);
  font-size: var(--anton-size-display);
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
}

@mixin anton-player {
  font-family: var(--font-title);
  font-size: var(--anton-size-player);
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-white);
}

@mixin anton-ui {
  font-family: var(--font-title);
  font-size: var(--anton-size-ui);
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--color-white);
}

@mixin title-main {
  @include anton-display;
}

@mixin body-main {
  font-family: var(--font-body);
  font-size: var(--body-size);
  line-height: 1.4;
  text-align: center;
  color: var(--color-white);
  opacity: 0.5;
}

@mixin button-main {
  width: 300px;
  padding: 16px 0;

  background-color: var(--color-white);

  border: none;
  border-radius: 4px;

  @include anton-ui;
  text-align: center;
  color: var(--color-dark-gray);
}
