@use "styles/typography" as type;

.container {
  width: 400px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #1d1d1d;
  border-radius: 12px;
  overflow: hidden;

  .icon {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      &:nth-of-type(2) {
        opacity: 1;
      }
    }
  }

  &:has(.input:not(:placeholder-shown)) .icon {
    &:nth-of-type(1) {
      opacity: 1;
    }
  }

  .input {
    // Reset
    background: none;
    border: none;
    outline: none;

    width: 100%;
    @include type.inter(14px);
  }
}

@media (width < 650px) {
  .container {
    width: 100%;
  }
}