.container {
  padding: 20px 28px;
  position: absolute;
  top: 0;
  left: 41%;
  transform: translateY(-110%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #1d1d1dbd;
  border: 1px solid rgba(255, 255, 255, 0.151);
  border-radius: 12px;
  backdrop-filter: blur(30px);
  --webkit-backdrop-filter: blur(30px);
  overflow: hidden;
}

.header {
  width: 100%;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.151);

  p {
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: white;
    opacity: 0.5;
  }
}

.content {
  width: 100%;
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  input {
    display: none;
  }
}

.name {
  font-family: var(--font-big-shoulders);
  font-size: 24px;
  font-weight: 900;
  color: white;
  letter-spacing: -2%;
  text-transform: uppercase;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  .label input:checked + & {
    opacity: 1;
  }
}
