.header {
  width: 100%;
  padding: 20px 28px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
  background-color: black;
  z-index: 1000;

  .top_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    > *:nth-child(1) {
      justify-self: start;
    }
    > *:nth-child(2) {
      justify-self: center;
    }
    > *:nth-child(3) {
      justify-self: end;
    }
  }
}

@media (width < 650px) {
  .header {
    .top_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 36px;
    }
  }
}

@media (width < 480px) {
  .header {
    .top_container {
      gap: 24px;
    }
  }
}

@media (width < 420px) {
  .header {
    .top_container {
      gap: 16px;
    }
  }
}