.header {
  width: 100%;
  padding: 20px 28px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
  background-color: black;
  z-index: 1000;

  .top_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .start {
      grid-column: 1;
      justify-self: start;
    }

    .center {
      grid-column: 2;
      justify-self: center;
    }

    .end {
      grid-column: 3;
      justify-self: end;
    }
  }
}

@media (width < 650px) {
  .header {
    .top_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 36px;

      .center:empty {
        display: none;
      }
    }

    &.stack_center {
      .top_container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
          "start end"
          "center center";
        justify-content: unset;
        column-gap: 36px;
        row-gap: 36px;

        .start {
          grid-area: start;
          justify-self: start;
        }

        .center {
          grid-area: center;
          justify-self: center;
          min-width: 0;
        }

        .end {
          grid-area: end;
          justify-self: end;
        }
      }
    }
  }
}

@media (width < 480px) {
  .header {
    .top_container {
      gap: 24px;
    }

    &.stack_center {
      .top_container {
        column-gap: 24px;
        row-gap: 24px;
      }
    }
  }
}

@media (width < 420px) {
  .header {
    .top_container {
      gap: 16px;
    }

    &.stack_center {
      .top_container {
        column-gap: 16px;
        row-gap: 16px;
      }
    }
  }
}
