@use "styles/typography" as type;

.container {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background_image {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: url("/assets/images/hero-background.png") center / cover no-repeat;
  filter: grayscale(100%);
  opacity: 0.15;
}

.background_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgb(29, 29, 29) 0%,
    rgba(29, 29, 29, 0) 100%
  );
}

.background_ellipse_blue {
  width: 90%;
  height: 65%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, -50%);
  background-color: var(--color-light-blue);
  border-radius: 100%;
  filter: blur(150px);
  opacity: 0.2;
}

.background_ellipse_red {
  width: 90%;
  height: 65%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, -50%);
  background-color: var(--color-red);
  border-radius: 100%;
  filter: blur(150px);
  opacity: 0.2;
}

.title {
  @include type.title-main;
}

.subtitle {
  @include type.body-main;
  width: 500px;
}

.button_container {
  display: flex;
  gap: 20px;
}

.button {
  @include type.button-main;
}

.title,
.subtitle,
.button_container {
  z-index: 1;
}
