@use "styles/typography" as type;

.form {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.options_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.option {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }

  input {
    display: none;
  }

  &:has(input:checked) {
    opacity: 1;
  }

  span {
    @include type.anton-ui;
  }
}

.label {
  @include type.anton-ui;
}

.input {
  width: 100%;
  padding: 20px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include type.anton-ui;
  text-align: start;

  background: none;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease;

  &:hover,
  &:focus,
  &:not(:placeholder-shown) {
    opacity: 1;
    outline: none;
  }
}

.button {
  @include type.button-main;
  width: 100%;
  margin-top: 20px;
}
