@use "styles/typography" as type;

.container {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .text {
    @include type.big-shoulders(24px);
  }
}

@media (width < 1000px) {
  .container {
    .text {
      display: none;
    }
  }
}