@use "styles/typography" as type;

.container {
  min-width: 48px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  .image {
    display: block;
    flex-shrink: 0;
  }

  .text {
    @include type.big-shoulders(24px);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (width < 1000px) {
  .container {
    .text {
      display: none;
    }
  }
}
