@use "styles/typography" as type;

.container {
  width: 100%;
  padding: 60px 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    @include type.anton-ui;
  }
}

.content {
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background_blob {
  width: 100%;
  height: 50dvh;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: linear-gradient(
    to right,
    var(--color-light-blue) 0%,
    var(--color-red) 100%
  );
  border-radius: 100%;
  filter: blur(750);
  opacity: 0.3;
}
