:root {
  --content-width: 1280px;
  --font-title: var(--font-anton);
  --font-body: var(--font-poppins);
  --anton-size-display: 84px;
  --anton-size-player: 32px;
  --anton-size-ui: 18px;
  --body-size: 16px;
  --spacing-sm: 16px;
  --spacing-md: 32px;
  --spacing-lg: 64px;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #1d1d1d;
  --color-light-blue: #0084ff;
  --color-red: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--color-black);
}

body {
  background-color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
