@use "styles/typography" as type;

.container {
  width: 100%;
  padding: 350px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
}

.court {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;

  // La máscara
  -webkit-mask-image: url("/assets/basketball-court.svg");
  mask-image: url("/assets/basketball-court.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center top;
  mask-position: center top;
}

.outer_blob,
.inner_blob {
  position: absolute;
  width: 60%;
  height: 30%;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--color-light-blue) 0%,
    var(--color-red) 100%
  );
  filter: blur(1500px);
  opacity: 0.1;
  z-index: 10;
}

.inner_blob {
  opacity: 0.5;
}

.content {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 500px;
}

.item {
  width: 80%;
  max-width: 950px;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 75px;
  z-index: 1;
}

.index {
  @include type.title-main;
  opacity: 0.3;
}

.item_content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  @include type.title-main;
  text-align: left;
}

.description {
  @include type.body-main;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

@media (width < 1280px) {
  .court {
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    -webkit-mask-position: center top;
    mask-position: center top;
  }

  .item {
    gap: 50px;
  }
}

@media (width < 768px) {
  .item {
    width: 85%;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .index {
    text-align: left;
  }

  .item_content {
    gap: 30px;
  }
}

@media (width < 520px) {
  .container {
    padding: 200px 0;
  }

  .content {
    gap: 350px;
  }
}
